/* 
    Document   : esp
    Created on : Mar 29, 2013, 4:15:21 PM
    Author     : ataylor
    Description:
        Fun start page instead of boring links.
*/


body
{margin:0; padding:0; color:#303030; background:#afafaf; font:76% Verdana,Tahoma,sans-serif;}

#main
{width:50%; height:100%; top:105px; left:200px; position:absolute;}

#banner
{width:545px; height:100px; top:20px; left:200px; position:absolute;}

#nav
{}

#nav div
{position:relative; display:inline-table; cursor:pointer; height:250px; width:250px; overflow:auto; border:1px solid #eeeeee; text-align:center; color:#ffffff; margin:5px;}

#nav div.c2
{background:#ff0000;}

#nav div.c2:hover
{background:#cb0000;}

#nav div.erbox
{background:#9100ff;}

#nav div.erbox:hover
{background:#5b029f}

#nav div.pais
{background:#0022ff;}

#nav div.pais:hover
{background:#001494;}

#nav div.sfcform
{background:#00ffda;}

#nav div.sfcform:hover
{background:#00b298;}

#nav div p
{display:table-cell; vertical-align:middle; text-align:center; font-weight:bold; font-size:2em;}