/* 
    Document   : esp
    Created on : Mar 29, 2013, 4:15:21 PM
    Author     : ataylor
    Description:
        Fun start page instead of boring links.
*/


body
{margin:0; padding:0; color:#303030; background:#e8e8e8; font:76% Verdana,Tahoma,sans-serif;}

#main
{right:265px; height:100%; top:5px; left:265px; position:absolute;}

#banner
{width:260px; height:100px; top:10px; left:5px; position:absolute;}

#nav
{}

#nav div
{position:relative; display:inline-table; float:left; cursor:pointer; height:250px; width:250px; overflow:auto; border:1px solid #eeeeee; text-align:center; color:#ffffff; margin:5px;}

#nav div.c2
{background:#ff0000;}

#nav div.c2:hover
{background:#cb0000;}

#nav div.erbox
{background:#9100ff;}

#nav div.erbox:hover
{background:#5b029f}

#nav div.pais
{background:#0022ff;}

#nav div.pais:hover
{background:#001494;}

#nav div.sfcform
{background:#00ffda;}

#nav div.sfcform:hover
{background:#00b298;}

#nav div.wiki
{background:#46ff65;}

#nav div.wiki:hover
{background:#3cd556;}

#nav div.calendar
{background:#ff9019;}

#nav div.calendar:hover
{background:#e38016;}

#nav div.manifests
{background:#16b3e3;}

#nav div.manifests:hover
{background:#1698c0;}

#nav div.documents
{background:#f8ed20;}

#nav div.documents:hover
{background:#d7ce16;}
#nav div p
{display:table-cell; vertical-align:middle; text-align:center; font-weight:bold; font-size:2em;}

/**Manifest Management Section**/

#sidebar
{position:fixed; top:0px; right:0px; height:100%; width:260px; overflow:scroll; background:#e0e0e0; border-left:2px solid #c0c0c0;}

#sidebar h1
{font-size:1.5em;}

#sidebar h2
{font-size:1.1em;}

#sidebar p
{text-align:right;}

#sidebar div.manifests
{background:#ffffff; border-radius:5px; border:1px solid #6e6e6e; padding: 0px 5px 5px 5px; width:220px; margin-left:5px; display:inline; float:left; font-size:0.9em;}

#sidebar div.comments
{font-size:1em; display:inline; float:left;}