/* 
    Document   : esp
    Created on : Mar 29, 2013, 4:15:21 PM
    Author     : ataylor
    Description:
        Fun start page instead of boring links.
*/


body
{margin:0; padding:0; color:#303030; background:#afafaf; font:76% Verdana,Tahoma,sans-serif;}

#main
{width:545px; height:545px; top:20px; left:200px; position:absolute; background:#000000;}

#banner
{width:545px; height:100px; top:20px; left:200px; position:absolute;}

#nav
{}

#nav div
{position:absolute; display:table; cursor:pointer; width:250px; height:250px; overflow:hidden; border:1px solid #eeeeee; text-align:center; color:#ffffff;}

#nav div.c2
{top:135px; left:215px; background:#ff0000;}

#nav div.c2:hover
{background:#cb0000;}

#nav div.erbox
{top:135px; left:480px; background:#9100ff;}

#nav div.erbox:hover
{background:#5b029f}

#nav div.pais
{top:400px; left:215px; background:#0022ff;}

#nav div.pais:hover
{background:#001494;}

#nav div.sfcform
{top:400px; left:480px; background:#00ffda;}

#nav div.sfcform:hover
{background:#00b298;}

#nav div p
{display:table-cell; vertical-align:middle; text-align:center; font-weight:bold; font-size:2em;}